<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>AngularJS Value</Title>
      <Author>Vinayak Hegde</Author>
      <Description>AngularJS Constant</Description>
      <Shortcut>ngval</Shortcut>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>    
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>moduleName</ID>
          <ToolTip>Name of module</ToolTip>
          <Default>app</Default>
        </Literal>
        <Literal>
          <ID>valueName</ID>
          <ToolTip>Name of value</ToolTip>
          <Default>myValue</Default>
        </Literal>
        <Literal>
          <ID>valueValue</ID>
          <ToolTip>Value of value</ToolTip>
          <Default>true</Default>
        </Literal>
      </Declarations>
      <Code Language="JavaScript">
        <![CDATA[(function () {
    'use strict';

    angular
        .module('$moduleName$')
        .value('$valueName$', $valueValue$)

})();
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>